<!-- TODO title here -->
<title></title>

<!-- TODO ico here -->
<link rel="shortcut icon" href="#">

<!-- SEO Stuff -->
<meta name='robots' content='max-image-preview:large' />
<!-- TODO Description here -->
<meta name="description" content="" />

<!-- Tailwind CSS -->
<script src="{{url_for('static', filename='js/tailwind.js')}}"></script>

<!-- Font CDNs -->
<script src="https://kit.fontawesome.com/d3acd25363.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://kit.fontawesome.com/d3acd25363.css" crossorigin="anonymous">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<!-- Datatables -->
<link rel="stylesheet" href="/static/css/datatables.min.css" media="none" onload="if(media!=='all')media='all'">
<script src="/static/js/datatables.min.js" defer></script>
