<style>
  #nav-container{
    max-width: 1024px;
    position: relative;
    margin: auto;
    display: inherit;
    width: 100%;
  }

  #nav-logo{
    height: 128px;
    width: 128px;
    margin-top: -40px;
    margin-bottom: -40px;
    margin-left: -25px;
    margin-right: -30px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #36393E;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand ubuntuFont" href="/" style="font-size: 25px">Flask Skeleton</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Other Link</a>
      </li>
    </ul>
  </div>
</nav>